[project]
name = "mcp-server-roam"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "httpx>=0.28.1",
    "mcp[cli]>=1.6.0",
]
[project.scripts]
mcp-server-roam = "mcp_server_roam:main"
